<html lang='en'>
  <head>
    <title>Activation Code - Easier LF2 Replay Viewer</title>
  </head>
<body>
<h1>Click this!</h1>
<p>
  <a href="{{username}}">{{username}}</a>
</p>
</body>
</html>
